/* 
.my-items a{
    border: 1px dashed lime;
}  */
.my-name{
    font-size: 2rem;
}
.my-items a{
    padding: 10px 50px !important;
    font-size: 1.5rem;
}
.my-items a:hover{background: #fff;
    color: #007abc !important;
    
}
.my-style{
    display: flex;
}
.nerves{
    background: #007abc !important;
}
@media (max-width:992px){
    .my-things{
        margin-left: -50px;
    }
    .item0:hover { width: 130px !important;
        
    }
    .item1:hover { width: 180px !important;
        
    }
    .item2:hover { width: 130px !important;
        
    }
    .item3:hover { width: 150px !important;
        
    }
    .item4:hover { width: 180px !important;
        
    }
}







